<script setup>
const route = useRoute()
const { capitalizeFirstLetters } = useUtilities()

const city = route.params.city
useHead({
  title: `${
    route.params.make ? capitalizeFirstLetters(route.params.make) : 'Cars'
  } in ${capitalizeFirstLetters(route.params.city)}`,
})

definePageMeta({
  layout: 'custom',
})
</script>

<template>
  <div>
    <div class="mt-32 flex">
      <CarSideBar />
      <NuxtPage />
    </div>
  </div>
</template>
